<div class="container">
    <div class="page-header">
        <h2>How Hamlet Works</h2>
    </div>
    <section id="how-it-works-general">
        <div class="well">
            Hamlet is an online marketplace that caters to both specialists and people looking to learn or enhance a skill or hobby. Our platform allows “skill seekers” to find and connect with people in their own community who posses those skill and are eager to teach others.
        </div>
    </section>
    <section id="how-it-works-for">
        <div id="specialists" class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">For Specialists</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Only $7 per month to post your profile</li>
                        <li>Free one month trial</li>
                        <li>Advertise special skills and upload photos of your work</li>
                        <li>Set your own hourly rates<sup>*</sup></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="skill-seekers" class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">For Skill-Seekers</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Free and unlimited access to specialist profiles</li>
                        <li>Category and keyword searches for specific skills</li>
                        <li>Customer reviews and ratings of specialists</li>
                        <li>Learning face-to-face from experienced individuals</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="how-it-works-infographic">
        <div class="row">
            <div class="col-xs-12">
                <img src="/images/hamlet_infographic.png" style="max-width:100%">
            </div>
        </div>
    </section>
    <section id="how-it-works-footnote">
        <p>* HAMLET SIMPLY CONNECTS INDIVIDUALS; RATES AND COORDINATING MEETINGS ARE UP TO YOU</p>
    </section>
</div>
