<div ng-controller="ProfileCtrl">
    <div class="row">
        <div class="col-sm-2">
            <img src="http://lorempixel.com/150/150/people">
        </div>
        <div class="col-sm-10">
            <div class="page-header">
                <h1>{{user.fname}} {{user.lname}} <small>teaches {{user.teaching}}</small></h1>
            </div>
        </div>
    </div>
    <div class="row padding-top-10">
        <div class="col-sm-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">About John</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Currently teaching</th>
                                <td>{{user.teaching}}</td>
                            </tr>
                            <tr>
                                <th>Average Rating</th>
                                <td>{{getUserAverageRating()}} out of 5</td>
                            </tr>
                            <tr>
                                <th>Contact</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th><i class="glyphicon glyphicon-envelope"></i></th>
                                <td><a href="#">Email</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row" ng-repeat="listing in user.listings track by $id(listing)">
                <div class="well">
                    <h3>{{listing.title}}
                        <span class="pull-right">
                            <span ng-repeat="star in listing.stars track by $index">
                                <i class="gold-star {{star}}"></i>
                            </span>
                        </span>
                    </h3>
                    <p>{{listing.description}}</p>
                    <p>
                        Cost: ${{listing.cost / 100}}
                        <a href="#" class="btn btn-primary pull-right">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="user.etsy">
        <div class="page-header">
            <h3>Creations on Etsy</h3>
        </div>
        <div class="col-xs-6 col-md-3" ng-repeat="image in user.etsy track by $index">
            <a href="{{image}}" class="thumbnail">
                <img src="{{image}}" alt="...">
            </a>
        </div>
    </div>
</div>
